*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 15vh;
    background-color: rgb(28, 161, 238);
    display: flex;
    align-items: center;
}

#logo{
    flex: 1;
    color: white;
    margin-left:5px ;
}
.links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    list-style-type: none;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li a:hover{
text-decoration: underline;
}

.burger{
position: absolute;;
right:10px;
top: 5vh;
display: none;
}

.line1{
    width: 50px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.line2{
    width: 50px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 5px;
}
.line3{
    width: 50px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .burger{
        cursor: pointer;
        display: block;
        /* display: flex; */
    }
    /* .nav{flex-direction: column;
/* align-items: flex-start; */
    
    /* } */ 
    .links{display: none;}
    /* #logo{display: block;} */
.linksB{
        display: flex;
        background-color: rgb(28, 161, 238);
        position: relative;
        top: 42.5vh;
        width:100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
  }
  