*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(240, 114, 52); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#header{
    background-color: #6FF66C;
    width: 100%;
    height: 20vh;
}
.todo-tilte{
    color: white;
    font-size: 60px;
}

#add-todo{
    width: 35%;
    height: 25vh;
    /* background-color: rgb(150, 241, 147); */
    display: flex;
    flex-direction: column;
    
    align-items:flex-start;
    /* border: 2px solid black; */
    margin: 2px;
    padding: 2px;
    border-bottom: none;
}
#title{color: rgb(19, 17, 17);}



.inputFeild{
    /* background-color: red; */
    display: flex;
}
#input{
    padding: 10px 25px 10px 25px;
}

#submit{
    padding: 10px;
    background: none;
    border: 1px solid lightgray;
    background-color: rgb(66, 64, 64);
    color: white;

}
#plzEnter{color: red;
opacity: 0;}
.plzEnter{
   opacity: 1;

}

.todos{
    width: 90%;
    height: 80vh;
    background-color: rgb(231, 228, 228);
    border: 1px solid rgb(92, 90, 90);
    margin: 0 auto;
    border-bottom:none;
    padding: 2px;
}
#title3{text-align: center;
color: rgb(41, 41, 41);
 }


#ul{
   width: 70%;
    /* background-color: red; */
    display: flex ;
    flex-direction: column;
    margin: 0 auto;
    list-style-type:none;
    
}

.li{
    background-color: whitesmoke;
    padding: 10px;
    font-size: 25px;
    border: 1px rgb(252, 247, 247) solid;
    margin: 2px;
    display: flex;
    justify-content: space-between;
   }
.delit{
    background-color: rgb(211, 24, 24);
    padding: 10px;
    border: 1px solid rgb(49, 48, 48);
    color: white;
}